<html>
<head>
<meta http-equiv="Content-Type" content="text/html;  $=<TEXTLINE(comm_l{lang}.txt,CODEPAGE=)>">
<title>{wp:translate(comm,WTUT_Title)}</title>
<!-- FORMTITLE={wp:translate(comm,WTUT_Title)}-->
<!-- FORMMENU=NONE-->
<!-- FORMW=600-->
<!-- FORMH=500-->
</head>
<body bgcolor="{window_bitmap_color}">
<center>
{wp:translate(comm,Welcome to WireChanger)}-{wp:translate(comm,Wind of change for your desktop)}!
</center>
<hr>
{wp:translate(comm,First step)}:
{wp:translate(comm,Right-click on 'Main theme' to add your images)}.
{wp:translate(comm,Right-click theme name or use icons at the top\nto add/remove images/archives or sort them in desired order)}.
{wp:translate(comm,Right-click image to rename or delete it from wallpaper list)}
<img src="{basePath}/images/screen1.png" style="float: right; margin: 10px;">
<br>1) {wp:translate(comm,Wtut_scr1p1)}
<br>2) {wp:translate(comm,Wtut_scr1p2)}
<br>3) {wp:translate(comm,Wtut_scr1p3)}
<br>4) {wp:translate(comm,Wtut_scr1p4)}
<hr>
{wp:translate(comm,To manage widgets switch to 'Desktop widgets' tab or)}
{wp:translate(comm,double-click wallpaper (over widget) while holding Control key)}
<img src="{basePath}/images/screen2.png" style="float: right; margin: 10px;">
<br>1) {wp:translate(comm,Wtut_scr2p1)}
<br>2) {wp:translate(comm,Wtut_scr2p2)}
<hr>
{wp:translate(comm,Wtut_hints)}:
<lu>
<li>{wp:translate(comm,To reposition wallpaper elements you can drag them to new positions)}
<li>{wp:translate(comm,To make your wallpapers more colorful and unpredictable)}, {wp:translate(comm,Activate following widgets)}: 
{wp:translate(comm,Special effects)}, {wp:translate(comm,Image mixer)},
{wp:translate(comm,Image morthing)}, {wp:translate(comm,Wallpaper generator)}
<li>{wp:translate(comm,Wtut_hints1)}
<li>{wp:translate(comm,Wtut_hints2)}
<li>{wp:translate(comm,Wtut_hints3)}
<li>{wp:translate(comm,Wtut_hints4)}
<li>{wp:translate(comm,Wtut_hints5)}
</lu>
</body>
</html>